project/Debug/*
project/Release/*
project/RayTracer/Debug/*
project/RayTracer/Release/*
project/RayTracer/*.png
project/CommandLine/Debug/*
project/CommandLine/Release/*
project/CommandLine/*.png
*.opensdf
*.sdf
*.suo
*.ipch
*.vcxproj.user
